
:root {
    --measureDimensionDimensionDimensionScale: 2px;    
    --measureDimensionDimensionDimensionXs: 4px;    
    --measureDimensionDimensionDimensionSm: 8px;    
    --measureDimensionDimensionDimensionMd: 16px;    
    --measureDimensionDimensionDimensionLg: 32px;    
    --measureDimensionDimensionDimensionXl: 64px;    
    --measureOpacityOpacityOpacityLow: 10%;    
    --measureOpacityOpacityOpacityMd: 50%;    
    --measureOpacityOpacityOpacityHigh: 90%;    
    --measureLineHeightLineHeightLineheightsHeading: 110%;    
    --measureLineHeightLineHeightLineheightsBody: 140%;    
    --measureLetterSpacingLetterSpacingLetterspacingDefault: 0px;    
    --measureLetterSpacingLetterSpacingLetterspacingIncreased: 150%;    
    --measureLetterSpacingLetterSpacingLetterspacingDecreased: -5%;    
    --measureParagraphSpacingParagraphSpacingParagraphspacingH1: 32px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacingH2: 26px;    
    --measureFontSizeFontSizeFontsizesBody: 16px;    
    --measureFontSizeFontSizeFontsizesH6: 16px;    
    --measureFontSizeFontSizeFontsizesSm: 13.6px;    
    --measureFontSizeFontSizeFontsizesXs: 10.4px;    
    --measureFontSizeFontSizeFontsizesH5: 20px;    
    --measureFontSizeFontSizeFontsizesH4: 25px;    
    --measureFontSizeFontSizeFontsizesH3: 31.25px;    
    --measureFontSizeFontSizeFontsizesH2: 39.063px;    
    --measureFontSizeFontSizeFontsizesH1: 48.829px;    
    --measureSpaceSpacingSpacingXs: 4px;    
    --measureSpaceSpacingSpacingSm: 8px;    
    --measureSpaceSpacingSpacingMd: 16px;    
    --measureSpaceSpacingSpacingLg: 32px;    
    --measureSpaceSpacingSpacingXl: 64px;    
    /* You can have multiple values in a single spacing token. Read more on these: https://docs.tokens.studio/available-tokens/spacing-tokens#multi-value-spacing-tokens */
    --measureSpaceSpacingSpacingMultiValue: 864px;    
    --measureBorderRadiusBorderRadiusBorderradiusSm: 4px;    
    --measureBorderRadiusBorderRadiusBorderradiusLg: 8px;    
    --measureBorderRadiusBorderRadiusBorderradiusXl: 16px;    
    /* You can have multiple values in a single radius token. Read more on these: https://docs.tokens.studio/available-tokens/border-radius-tokens#single--multiple-values */
    --measureBorderRadiusBorderRadiusBorderradiusMultiValue: 48px;    
}